<div class="form-group">
  <label for="name-item">Name</label>
  <input
    type="text"
    class="form-control"
    id="name-item"
    placeholder="1-Up cap"
    [(ngModel)]="item.name"
  />
</div>

<app-select
  (onChange)="changeCategory($event)"
  [title]="'Category'"
  [values]="subcategories"
></app-select>

<app-select
  (onChange)="changeSeller($event)"
  [title]="'Obtained From'"
  [values]="sellers"
></app-select>

<app-select
  (onChange)="changeFashion($event)"
  [title]="'Fashion Theme'"
  [values]="fashions"
></app-select>

<div class="form-group">
  <label for="purchase-price">Purchase Price</label>
  <input
    type="text"
    class="form-control"
    id="purchase-price"
    placeholder="320"
    [(ngModel)]="item.purchasePrice"
    (change)="autoCalculateSells()"
  />
</div>

<div class="form-group">
  <label for="sells-for">Sells For</label>
  <input
    type="text"
    class="form-control"
    id="sells-for"
    placeholder="80"
    [(ngModel)]="item.sellsPrice"
  />
</div>

<img [src]="imageSrc" />

<div class="form-group">
  <label class="btn btn-default">Image</label>
  <input type="file" class="form-control" (change)="selectFile($event)" />
</div>
<button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
  Submit
</button>
