<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">DRC</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    [attr.aria-expanded]="!collapsed"
    aria-label="Toggle navigation"
    (click)="collapsed = !collapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.collapse]="collapsed">
    <ul class="navbar-nav mr-auto">
      <app-dropdown
        *ngFor="let item of categories"
        [displayText]="item.name"
        [displayItems]="item.subcategories"
      ></app-dropdown>
    </ul>
    <ul class="navbar-nav">
      <button class="btn btn-outline-success mr-2 my-2 my-sm-0">Log In</button>
      <button class="btn btn-success mr-2 my-2 my-sm-0">Sign In</button>
    </ul>
  </div>
</nav>
