$bg-color: #343a40 !important;
$color: rgba(255, 255, 255, 0.5);
$color-hover: rgba(255, 255, 255, 0.75);
div {
  &.dropdown-menu {
    background-color: $bg-color;
    & a {
      color: $color;
      &.dropdown-item {
        background-color: $bg-color;
      }
      &:hover {
        color: $color-hover;
      }
    }
  }
}
