<div ngbDropdown>
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      href="javascript:void(0)"
      id="navbarDropdown"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      ngbDropdownToggle
    >
      {{ displayText }}
    </a>
    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown" ngbDropdownMenu>
      <a
        class="dropdown-item"
        href="subcategory/{{ item.id }}"
        *ngFor="let item of displayItems"
        >{{ item.name }}</a
      >
    </div>
  </li>
</div>
