<div class="search p-2">
  <form class="form-inline my-2 my-lg-0">
    <select class="form-control mr-sm-2" name="category" id="">
      <option value="0">Any Category</option>
      <option *ngFor="let item of subcategories" value="item.value">{{
        item.name
      }}</option>
    </select>
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Froggy Chair"
      aria-label="Search"
    />
    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
