<app-search></app-search>
<div class="row">
  <div class="col">
    <h1>Welcome to Digby Resource Center!</h1>
    <h2>The Animal Crossing New Horizons Item Database</h2>
  </div>
</div>
<div class="row">
  <div class="col-12" *ngIf="items">
    <app-item *ngFor="let item of items" [item]="item"></app-item>
  </div>
</div>
