<div class="row">
  <div class="col">
    <h1>{{ title }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12" *ngIf="items">
    <app-item *ngFor="let item of items" [item]="item"></app-item>
  </div>
</div>
