<div id="container">
  <app-header></app-header>
  <div class="container-fluid">
    <!-- <app-search></app-search>
    <div class="row">
      <div class="col">
        <h1>Welcome to Digby Resource Center!</h1>
        <h2>The Animal Crossing New Horizons Item Database</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12"><app-item></app-item></div>
      <div class="col-12"><app-item></app-item></div>
    </div>
    <div class="row">
      <app-item-form></app-item-form>
    </div> -->
    <router-outlet></router-outlet>
  </div>
  <div id="empty-space"></div>
  <app-footer></app-footer>
</div>
