<div class="form-group">
  <label>{{title}}</label>
  <Select class="form-control" #item (change)="changeSelect(item)">
    <option value="-1">--Select--</option>
    <option *ngFor="let item of values" [value]="item.id">{{ item.name }}</option>
  </Select>
</div>
