<div class="card p-1">
  <div class="row">
    <div class="col-12 col-lg-2 align-self-center">
      <img [src]="item.image" alt="Image" class="img-fluid" />
    </div>
    <div class="col-12 col-lg-10">
      <div class="card-body">
        <h5 class="card-title">
          <a href="">{{ item.name }}</a>
        </h5>
        <hr />
        <div class="card-text">
          <div class="row">
            <p class="col-6"><b>Obtained From</b> {{ item.seller.name }}</p>
            <p class="col-6"><b>Category</b> {{ item.subcategory.name }}</p>
            <p class="col-6"><b>Purchase Price</b> {{ purchaseText }}</p>
            <p class="col-6" *ngIf="item.fashion">
              <b>Fashion Theme</b> {{ item.fashion.name }}
            </p>
            <p class="col-6"><b>Sells For</b> {{ sellsText }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
